.Button {
 border-radius: 1em;
 padding: 1em;
 border: none;
}
form {
 background-color: grey;
 display: flex;
 flex-direction: column;
 align-items: stretch;
 justify-content: flex-start;
 padding: 1em;
 input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.5em 0;
  margin-bottom: 1em;
  color: white;
 }
}
